<div><h2>About the Project</h2></div>
<p class="lead">This is a final project created for History 205F: Digital Humanities, at Stanford University. The goal of the project is to illuminate a major national newspaper’s perspective on the growth of Silicon Valley in the last forty years.</p>
<div><h2>About the Creator</h2></div>
<p class="lead">My name is Paul Carroll, and I’m a senior at Stanford majoring in Computer Science and History.</p>
<div><h2>Methodology</h2></div>
<div class="lead"><p>I began by querying the <i>New York Times</i> archives for all articles relating to “Silicon Valley.” Then, using the <i>New York Times</i> developer API, I funneled these articles into a database. I cleaned the data with Google Refine, and then wrote a program in Ruby to aggregate the articles according to their tags.</p>
<p>Because the <i>Times</i> prevents developers from harvesting more than the first paragraph of each article, I limited my research to the article metadata. Fortunately, this metadata was very good, as a team of people at the <i>Times</i> had tagged most articles in the archive with person, location, organizational, and subject keywords.</p>
<p>Because the project is so simple, my hope is that it will be more accessible and transparent than the average digital humanities project.
</p></div>