<% if @result.nil? %>
	<h3>No tags found. Try again.</h3>
<% else %>
	<table class="table">
		<tr>
			<th> Name </th>
			<th> Number of Articles </th>
		</tr>
		
		<% for i in 0..9 %>
		<tr>
			<td><%= @result[i][0] %></td>
			<td><%= @result[i][1] %></td>
		</tr>
		<% end %>
	</table>
<% end %>

