<div class="jumbotron row">
	<h2>Silicon Valley, according to the <i>New York Times</i></h2>
	<h4>a digital humanities project by Paul Carroll, for History 205F</h4>
	<div class="lead">
		<a href="/home/start">Home</a>
		<a href="/writing/thoughts#thesis">Thesis</a> 
		<a href="/writing/thoughts#abstract">Abstract</a>
		<a href="/writing/thoughts#analysis">Analysis</a>
		<a href="/writing/methodology">About</a>
	</div>
</div>
<p class="lead">
	Who matters most in the history of Silicon Valley? Is it Robert Noyce? Bill Gates? Steve Jobs? And which companies have been most important--Google, Apple, Facebook? How has the economy in the valley changed since the 1980's? And when did we begin to think of Silicon Valley as "Silicon Valley," anyway?
</p>

<p>To begin answering these questions, play around with the tool below. Discover which people, organizations, keywords, and locations have appeared most often in the <i>New York Times</i>'s reporting on Silicon Valley. When you're ready for some thoughts on what this data might mean, <a href="/writing/thoughts">click here.</a> Refresh the page if the slider disappears.<p>

<p>
<label for="amount">Year range:</label>
<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<div id="slider-range"></div>


<input type="radio" name="type" id="organizations" />Organizations
<input type="radio" name="type" id="people" checked />People
<input type="radio" name="type" id="keywords" />Subjects
<input type="radio" name="type" id="locations" />Locations


<button onclick="update()" class="btn">Update!</button>
<br/>

<div id="container"></div>